*{
    margin:0;
}

.App {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    height:80vh;
    position: relative;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

header{
    text-align: center;
    border-bottom: 1px solid gray;
}

.outerContainer, main{
    display:flex;
    width:100%;
    height:80vh;
}